{%- spaceless -%}
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<nav class="container-fluid">
			    <ul class="nav">
					{%- set route = app.request.attributes.get('_route') -%}
		
			    </ul>
			</nav>
		</div>
	</div>
{%- endspaceless -%}