{%- spaceless -%}
	<header class="navbar navbar-fixed-top">
		<nav class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">Code Consortium</a>
			
			    <ul class="nav">
					{%- set route = app.request.attributes.get('_route') -%}				
			    </ul>
			
			    <ul class="nav pull-right">
					{%- if is_granted('ROLE_USER') -%}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i>
								<bdi>{{- app.user.username |capitalize -}}</bdi>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
							</ul>
						</li>				
					{%- endif -%}
			    </ul>
			</div>
		</nav>
	</header>
{%- endspaceless -%}
