#body {
	font: small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	color: #373737;
}

hr {
	border: 0;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
}
/* **********************************
 * COMMON ICONS
 * *********************************/
img.icon16 { border: 0; margin: 0; padding: 0; width: 16px; height: 16px; vertical-align: middle; }
img.icon32 { border: 0; margin: 0; padding: 0; width: 32px; height: 32px; vertical-align: middle; }

img.avatar { width: 100px; height: 100px; }

img.button_16x16 {
	width: 16px;
	height: 16px;
	border: 0px;
	margin: 5px;
	padding: 0px;
	vertical-align: middle;
}

/* **********************************
 * SIDEBAR
 * *********************************/
div.sidebar {
	margin-bottom: 15px;
}

div.sidebar_header {
	display: block;
	width: auto;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

span.sidebar_header {
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size: medium; 
	font-weight: bold;
	color: #373737;
}

div.sidebar_panel {
	display: block;
	width: auto;
	padding: 5px;
/*	border-bottom: 1px solid #eee;*/
}
div.sidebar_panel:hover {
 	background-color: #eee;
}

a.sidebar:link, a.sidebar:visited, a.sidebar:active {
	/*color: #373737;*/

	text-decoration: none;
	color: #4a89c6;
	font: 11pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}
a.sidebar:hover { text-decoration: underline; }

/* **********************************
 * COMMON LINKS
 * *********************************/
a:link, a:visited, a:active { color: #4a89c6; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }
a:hover { text-decoration: underline; }

h1 a:link, a:visited, a:active { color: #4a89c6; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; font-weight: bold; }
h1 a:hover { text-decoration: underline; }

h2 a:link, a:visited, a:active { color: #4a89c6; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; font-weight: bold; }
h2 a:hover { text-decoration: underline; }

h3 a:link, a:visited, a:active { color: #4a89c6; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; font-weight: bold; }
h3 a:hover { text-decoration: underline; }

h4 a:link, a:visited, a:active { color: #4a89c6; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; font-weight: bold; }
h4 a:hover { text-decoration: underline; }

a.date_link_small { font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;	border-bottom:1px dotted black;	text-decoration: none;}
a.date_link_medium { font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; border-bottom:1px dotted black; text-decoration: none;}
	
a.button_link:link, a.button_link:visited, a.button_link:active {
/*	margin: 5px 8px 5px 0px;*/
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
a.button_link:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}

a.button_link_light:link, a.button_link_light:visited, a.button_link_light:active {
/*	margin: 5px 8px 5px 0px;*/
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a5c6fa;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
a.button_link_light:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}

a.section_sub_header_link {
	vertical-align: middle;
}
/************************
 * COMMON SPANS
 ***********************/
h1 { font: 14pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; margin: 5px; padding: 0px; text-transform: capitalize; }
h2 { font: 14pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; margin: 5px; padding: 0px; text-transform: capitalize; }
h3 { font: 13pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; margin: 5px; padding: 0px; text-transform: capitalize; }
h4 { font: 12pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; margin: 5px; padding: 0px; text-transform: capitalize; }
h5 { font: 11pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; margin: 5px; padding: 0px; text-transform: capitalize; }
h6 { font: 10pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; margin: 5px; padding: 0px; text-transform: capitalize; }

span.common_head { font: 11pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; }
span.common_body { font: 10pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; vertical-align: top; }

/*.common_note { font: bold x-small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }*/
span.posted_on { font: small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; }
span.edited_on { font: small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; }
span.deleted_on { font: small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; }
span.username_medium { font: medium bold "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; text-transform: capitalize; }


span.label_small { font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: gray; }
span.label_medium {	font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: gray; }
span.label_large { font: large "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: gray; }

span.stat_xsmall { font: x-small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }
span.stat_small { font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }
span.stat_medium {	font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }
span.stat_large { font: large "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }

/************************
 * COMMON FLASH BOXES
 ***********************/
/*.flash_notice {
	margin-left: 5px;
	padding-left: 25px;
	background: url(../images/icons/Black/16x16/16x16_check.png) no-repeat;

	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}*/

div.flash_notice { background-color: #a0d8fd; padding: 5px; }
div.flash_warning { background-color: #fec499; padding: 5x; }
div.flash_severe { background-color: #ff9896; padding: 5px; }

span.flash {
	font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; 
}

/************************
 * COMMON ALIGNMENTS
 ***********************/
.h_align_left { text-align: left !important; }
.h_align_centre { text-align: center !important; }
.h_align_right { text-align: right !important; }
.v_align_top { vertical-align: top !important; }
.v_align_middle { vertical-align: middle !important; }
.v_align_bottom { vertical-align: bottom !important; }
 /************************
 * COMMON MARGINS
 ***********************/
.margin_0 { margin: 0px !important; }
.margin_1 { margin: 1px !important; }
.margin_2 { margin: 2px !important; }
.margin_5 {	margin: 5px !important; }
.margin_10 { margin: 10px !important; }

.margin_bottom_0 { margin-bottom: 0px !important; }
.margin_bottom_1 { margin-bottom: 1px !important; }
.margin_bottom_2 { margin-bottom: 2px !important; }
.margin_bottom_5 { margin-bottom: 5px !important; }
.margin_bottom_10 { margin-bottom: 10px !important; }
/************************
 * COMMON PADDING
 ***********************/
.padding_0 { padding: 0px !important; }
.padding_1 { padding: 1px !important; }
.padding_2 { padding: 2px !important; }
.padding_5 { padding: 5px !important; }
.padding_10 { padding: 10px !important; }

/************************
 * COMMON BOXES
 ***********************/ 
div.row { display: block; width: auto; height: auto; overflow: hidden; vertical-align: top; clear: both; }
div.column { display: inline-block; width: auto; height: auto; overflow: hidden; vertical-align: top; }

div.float_left {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	float: left;
	clear: none;
	z-index: 1;
	position: static;
}

div.float_right {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	float: right;
	clear: none;
	z-index: 2;
	position: relative;
}

div.section_wrap_square {
	display: block;
	width: auto;
	padding: 0px;
	margin: 10px;
	overflow: hidden;
}

div.section_header {
	display: block;
	width: auto;
	height: auto;
	margin-bottom: 5px;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	clear: both;
	
/*	border-bottom: 1px solid #eee;*/
}

div.section_sub_header {
	display: block;
	width: auto;
	height: auto;
	margin-bottom: 5px;
	padding: 5px;
	overflow: hidden;
	clear: both;

	vertical-align: middle;

	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fafafa;
}

div.section_panel {
	display: block;
	width: auto;
	height: auto;
	padding: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	clear: both;
}

div.section_table_panel {
	display: block;
	width: auto;
	height: auto;
	padding: 0px;
	margin-bottom: 10px;
	overflow: hidden;
	clear: both;
}

div.section_tool_strip {
	display: block;
	width: auto;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	white-space: nowrap;
	margin: 0px;
	padding: 5px;
	overflow: hidden;
	clear: both;
	border-top: 1px solid #eee;
}


div.scrollable_panel {
	width: auto;
	overflow: auto;
}

/* **********************************
 * COMMON LIST TABLE
 * *********************************/
table.common_list {
	width: 100%;
	border-spacing: 0px;
	border-radius:2px;
	
	background-color: #fefefe;
	border-top: 1px solid #eee;
	border-left: 1px solid #eaeaea;
}

table.common_list thead { background-color: #f8fafd; }
table.common_list tbody { }
table.common_list tfoot { background-color: #f8fafd; }

tr.row_odd { background-color: #fafcff; }
tr.row_even { background-color: #f9faff; }

tr.row_odd:hover { background-color: #ebf0f0; }
tr.row_even:hover { background-color: #ebf0f0; } /* #dde6ec; */


table.common_list th.left {
	padding: 10px;
	vertical-align: middle;
	text-align: left;
	text-transform: capitalize;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.common_list th.center {
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	text-transform: capitalize;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.common_list th.icon {
	width: 18px;
	padding: 4px;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

table.common_list td.left {
	padding: 10px;
	vertical-align: top;
	text-align: left;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.common_list td.center {
	padding: 10px;
	vertical-align: top;
	text-align: center;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.common_list td.right {
	padding: 10px;
	vertical-align: top;
	text-align: right;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.common_list td.icon16 {
	width: 21px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.common_list td.icon32 {
	width: 42px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

span.table_header { font: bold 11pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; text-transform: capitalize; }
span.table_label { font: bold 10pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; text-transform: capitalize; }
span.table_data { font: 10pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; text-transform: capitalize; }
span.table_empty { font: bold medium "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; margin: 50px; }

span.table_data a:link, a:visited, a:active { color: #4a89c6; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; font-weight: bold; }
span.table_data a:hover { text-decoration: underline; }

/************************
 * FORM ELEMENTS
 ***********************/
td.form_label {
	width: 20%;
	padding: 10px;
	
	vertical-align: top;
	text-align: right;
	
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

td.form_widget {
	width: 60%;
	padding: 10px;

	vertical-align: top;
	text-align: left;

	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

td.form_tool_strip {
	width: 100%;
	padding: 10px;

	vertical-align: middle;
	text-align: center;
	
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

input.widget_submit {
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
input.widget_submit:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}

input.widget_submit_prominent {
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #9bbbeb;
	border-radius: 5px;
	background-color: #73a4fe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
input.widget_submit_prominent:hover {
	text-decoration: none;
	border: 1px solid #488bfd;
	background-color: #3f6ffe;
}

select.widget_select {
	margin: 5px 8px 5px 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: #000;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
select.widget_select:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}
option.widget_select {
	background-color: #fff;
	color: #000;
	text-shadow: none;
}


label.checkbox_widget_label {
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

label.widget_label {
	overflow: hidden;
	margin: 20px;
	font: bold medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
}

input.widget_text {
	display: block;
	width: 500px;
	overflow: hidden;
	font: large "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

textarea.widget_textarea {
	display: block;
	width: 500px;
	height: 200px;
	overflow: scroll;
}
/************************
 * CHAT BUBBLE
 ***********************/
div.round_box {
	display: block;
	width: auto;
	padding: 15px;
	margin: 5px;
	overflow: visible;
	background-color: white;

	vertical-align: top;	
	z-index: 1;	
	
	border-radius: 8px;
	border: 1px solid #ccc;
}

img.text_bubble_chevron {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	left: -35px;
	top: 30px;
	z-index: 1;
	visibility: visible;
	overflow: visible;
}

