#body {
	font: small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	color: #373737;
}
/* **********************************
 * COMMON ICONS
 * *********************************/
img.icon_16x16 { border: 0; margin: 0; padding: 0; width: 16px; height: 16px; vertical-align: middle; }
img.icon_32x32 { border: 0; margin: 0; padding: 0; width: 32px; height: 32px; vertical-align: middle; }

img.avatar { width: 100px; height: 100px; }
/* **********************************
 * COMMON LINKS
 * *********************************/
a:link, a:visited, a:active { color: #4a89c6; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }
a:hover { text-decoration: underline; }

a.sidebar { font-size: small; font-weight: bold; color: #373737; }

a.header_strip { font-size: small; font-weight: bold; }
a.heading_link { font-size: medium; font-weight: bold; }

a.username_small { font-size: small !important; font-weight: bold !important; text-transform: capitalize !important; }
a.username_medium { font-size: medium !important; font-weight: bold !important; text-transform: capitalize !important; }

a.date_link_small { font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;	border-bottom:1px dotted black;	text-decoration: none;}
a.date_link_medium { font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; border-bottom:1px dotted black; text-decoration: none;}
	
a.button_link:link, a.button_link:visited, a.button_link:active {
/*	margin: 5px 8px 5px 0px;*/
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
a.button_link:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}

a.button_link_light:link, a.button_link_light:visited, a.button_link_light:active {
/*	margin: 5px 8px 5px 0px;*/
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a5c6fa;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
a.button_link_light:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}
/************************
 * FORM ELEMENTS
 ***********************/
td.form_label {
	width: 20%;
	vertical-align: top;
	text-align: right;
}

td.form_widget {
	width: 60%;
	vertical-align: top;
	text-align: left;
}

td.form_tool_strip {
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

input.widget_submit {
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
/*	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;*/
}
input.widget_submit:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}

select.widget_select {
	margin: 5px 8px 5px 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: #000;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
select.widget_select:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}
option.widget_select {
	background-color: #fff;
	color: #000;
	text-shadow: none;
}


label.checkbox_widget_label {
	font: x-small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

label.widget_label {
	overflow: hidden;
	margin: 20px;
}

input.widget_text {
	display: block;
	width: 500px;
	overflow: hidden;
	font: large "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

textarea.widget_textarea {
	display: block;
	width: 500px;
	height: 200px;
	overflow: scroll;
}
/************************
 * COMMON SPANS
 ***********************/
.common_h1 { font: x-large "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }
.common_h2 { font: large "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }
.common_h3 { font: medium "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }

.heading_glow {
	color: #eee;
	font: bold medium "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	text-shadow: #111 0px -1px 1px;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.common_body { font: small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }
.common_note { font: bold x-small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }

span.label_small { font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: gray; }
span.label_medium {	font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: gray; }
span.label_large { font: large "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: gray; }

span.stat_xsmall { font: x-small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }
span.stat_small { font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }
span.stat_medium {	font: medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }
span.stat_large { font: large "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #373737; }

/************************
 * COMMON ALIGNMENTS
 ***********************/
.h_align_left { text-align: left !important; }
.h_align_centre { text-align: center !important; }
.h_align_right { text-align: right !important; }
.v_align_top { vertical-align: top !important; }
.v_align_middle { vertical-align: middle !important; }
.v_align_bottom { vertical-align: bottom !important; }
 /************************
 * COMMON MARGINS
 ***********************/
.margin_0 { margin: 0px !important; }
.margin_1 { margin: 1px !important; }
.margin_2 { margin: 2px !important; }
.margin_5 {	margin: 5px !important; }
.margin_10 { margin: 10px !important; }

.margin_bottom_0 { margin-bottom: 0px !important; }
.margin_bottom_1 { margin-bottom: 1px !important; }
.margin_bottom_2 { margin-bottom: 2px !important; }
.margin_bottom_5 { margin-bottom: 5px !important; }
.margin_bottom_10 { margin-bottom: 10px !important; }
/************************
 * COMMON PADDING
 ***********************/
.padding_0 { padding: 0px !important; }
.padding_1 { padding: 1px !important; }
.padding_2 { padding: 2px !important; }
.padding_5 { padding: 5px !important; }
.padding_10 { padding: 10px !important; }
/************************
 * COMMON BACKGROUNDS
 ***********************/
.bg_header_smoke { background: url(../images/common/header_bg_smoke.png) repeat-x !important; }
.bg_header_item { /*background-color: #f8faff !important;*/}
.bg_highlight_light { background-color: #fafafa !important; }
.bg_highlight_red { background-color: #ff9896 !important; }
.bg_highlight_orange { background-color: #fec499; }

.bg_flash_message {	background-color: #fffcc7 !important; }
/************************
 * COMMON FLASH BOXES
 ***********************/
.flash_notice {
	margin-left: 5px;
	padding-left: 25px;
	background: url(../images/icons/Black/16x16/16x16_check.png) no-repeat;

	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}
/************************
 * COMMON BOXES
 ***********************/ 
div.row { display: block; width: auto; height: auto; overflow: hidden; vertical-align: top; clear: both; }
div.column { display: inline-block; width: auto; height: auto; overflow: hidden; vertical-align: top; }

div.float_left {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	float: left;
	clear: none;
	z-index: 1;
	position: static;
}

div.float_right {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	float: right;
	clear: none;
	z-index: 2;
	position: relative;
}

div.common_box_5 {
	display: block;
	width: auto;
	padding: 0px;
	margin: 10px;
	overflow: hidden;
	border: 1px solid #eaeaea; /*#dfdfdf;*/
	border-radius: 5px;
}

div.common_box_10 {
	display: block;
	width: auto;
	padding: 0px;
	margin: 10px;
	overflow: hidden;
	border-radius: 10px;
}

div.common_box_header {
	display: block;
	width: auto;
	height: 23px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	clear: both;
}

div.common_box_sub_header {
	display: block;
	width: auto;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	padding: 5px;
	vertical-align: middle;
	background-color: #f6f6f6;
	border-top: 1px solid #eee;
	overflow: hidden;
	clear: both;
}

div.common_box_panel {
	display: block;
	width: auto;
	height: auto;
	padding: 5px;
	background-color: #fafafa;
	border-top: 1px solid #eee;
	overflow: hidden;
	clear: both;
}

div.common_tool_strip {
	display: block;
	width: auto;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	white-space: nowrap;
	margin: 0px;
	padding: 5px;
	background-color: #fafafa;
	border-top: 1px solid #eee;
	overflow: hidden;
	clear: both;
}


div.scrollable_panel {
	width: auto;
	overflow: auto;
}

/************************
 * COMMON CHAT BUBBLE ITEM
 ***********************/
div.text_bubble {
	display: block;
	width: auto;
	padding: 0px;
	margin: 10px;
	overflow: visible;
	background-color: white;
	position: relative;
	top: 5px;
	z-index: 1;
}
div.text_bubble_deleted {
	background-color: #dee0e0;
	text-align: center;
	vertical-align: middle;
}
img.text_bubble_chevron {
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 35px;
	top: -19px;
	z-index: 3;
	visibility: visible;
	overflow: visible;
}

div.text_bubble_header {
	display: block;
	width: auto;
	height: 35px;
	line-height: 35px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;	
/*	background-color: #fcfcfc;*/
	text-align: right;
	
	border-bottom: 1px solid #cfcfcf;
	background-color: #efefef;
}

div.text_bubble_body {
	display: block;
	width: auto;
	margin: 0px;
	padding: 15px;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	background-color: white;
}

div.text_bubble_footer {
	display: block;
	width: auto;
	margin: 0px;
	padding: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
/*	background-color: #fcfcfc;*/
	background-color: #efefef;
}
/* **********************************
 * COMMON LIST TABLE
 * *********************************/
table.common_list {
	width: 100%;
	border-spacing: 1px;
	border-radius:2px;
}

table.common_list thead { background-color: #f8fafd; }
table.common_list tbody { }
table.common_list tfoot { background-color: #f8fafd; }

tr.row_odd {
	background-color: #fafcff;
}

tr.row_even {
	background-color: #f6faff;
}

table.common_list th {
	text-align: left;
	vertical-align: middle;
	padding: 5px;
	text-transform: capitalize;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.common_list td {
	padding: 10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
/* **********************************
 * COMMON PAGINATION
 * *********************************/
div.pagerfanta {
	display: block;
	width: auto;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 5px;
	background-color: #fafafa;
	border-top: 1px solid #eee;
	overflow: hidden;
	clear: both;
	/*
	display: inline-block;
	height: 30px;
	line-height: 28px;
	vertical-align: middle;*/
}
.paginate {margin-left: 10px;}	
.pagerfanta {}
.pagerfanta a, .pagerfanta span {
/*	margin: 2px 5px 2px 0px;
	padding: 5px;*/
	margin: 5px 8px 5px 0px;
	padding: 5px;
	border-radius: 5px;
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
	background-color: #73a4fe;
	border: 1px solid #9bbbeb;
}
.pagerfanta a:hover {
	text-decoration: none;
	border: 1px solid #3f6ffe;
	background-color: #488bfd;
}
.pagerfanta .dots {border-width: 0;}
.pagerfanta .current {
/*	border: 1px solid #b3dbfc;
	background-color: #d7e6ff;*/
	border: 1px solid #d0d0d0;
	background-color: #e0e0e0;
	color: #000;
	font-style: italic;
}
.pagerfanta .disabled {
	text-shadow: none;
	border: 1px solid #d0d0d0;
	background-color: #e0e0e0;
	color: #cfcfcf;
}
