html, body {
	height:100%;
	vertical-align:top;
}

#page-wrap {
	min-height: 100%;
}

#page-main {
	padding-top:145px;
	padding-bottom:150px; /* this needs to be bigger than footer height */
	overflow:auto;
}

.page-body-right > div {
	position:relative;
	width:100%;
	padding-left:15px;
	padding-right:-15px;
	left:-15px;
	z-index:99;
/*	border-left:1px solid #eee;*/
}

.page-body-left > div:after {
	left:20%;
/*	border-right:1px solid #eee;*/	
}

/* Header
-------------------------------------------------- */
body > #page-wrap > #page-main > header.nav-bar {
	border-bottom:1px solid #eee;
	/*width:100%;*/
	margin:0px;
	padding:0px;
}
	body > #page-wrap > #page-main > header.nav-bar > nav.site-header-links {
		height:25px;
		line-height:25px;
		padding:0px;
	
		background-color:#000;
	
		border-bottom:1px solid #eee;
	}
	body > #page-wrap > #page-main > header.nav-bar > nav.site-header-links > ul {
		
	}
	body > #page-wrap > #page-main > header.nav-bar > nav.site-header-links > ul > li {
		display:inline-block;
		height:25px;
		line-height:25px;
		margin:0px 10px 0px 10px;
		padding:0px;
	
		overflow:hidden;
	}
	body > #page-wrap > #page-main > header.nav-bar > nav.site-header-links > ul > li > a {
		height:inherit;
		line-height:inherit;
		margin:0px;
		padding:0px 15px 0px 15px;
	
		text-decoration:none;
		text-shadow:none;
		font-size:15px;
		color:#fff;
	
		overflow:hidden;
	}
	body > #page-wrap > #page-main > header.nav-bar > nav.site-header-links > ul > li > a:hover {
		background-color:#0088dd;
	}
	body > #page-wrap > #page-main > header.nav-bar > nav.site-header-links > ul > li.active > a {
		background-color:#0088dd;	
	}




body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary {
	width:inherit;
	height:50px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
	background-color:#eee;
	border-bottom:1px solid #ddd;
	
	padding-left:15px;
	padding-right:15px;
}
	body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div {
		height:50px;
		line-height:50px;
		/*margin:0px;*/
		padding:5px;
		vertical-align:middle;
		/*border:1px solid red;*/
	}
		body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .logo {
			height:40px;
			line-height:40px;
			margin:0px;
			padding:0px;
			vertical-align:middle;
		}
			body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .logo > a.brand,
			body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .logo > a.brand:link,
			body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .logo > a.brand:visited,
			body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .logo > a.brand:active {
				height:inherit;
				line-height:inherit;
				margin:0px;
				padding:0px;
				vertical-align:middle;
				font-size:25px;
				color:#777;
			}
			body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .logo > a.brand:hover {
				color:#0088dd;
				text-decoration:none;
			}
		body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .search {
			height:40px;
			line-height:40px;
			margin:0px;
			padding:0px;
			vertical-align:middle;
		}
		body > #page-wrap > #page-main > header.nav-bar > nav.site-header-primary > div > .account {
			height:40px;
			line-height:40px;
			margin:0px;
			padding:0px;
			vertical-align:middle;
	}



body > #page-wrap > #page-main > header.nav-bar > nav.site-header-crumbs {
	background-color:#fff;
/*	border:1px solid red;*/
	width:inherit;
	height:60px;
	margin:0px;
	padding:0px;
	
	padding-left:20px;
	padding-right:15px;
	
}

body > #page-wrap > #page-main > header.nav-bar > nav.site-header-crumbs > #sub-nav > div.span2 {
	/*display:inline-block;
	clear:none;*/
	height: 60px;
	line-height:60px;

}
body > #page-wrap > #page-main > header.nav-bar > nav.site-header-crumbs > #sub-nav > div.span2 > h3 {
	height:60px;
	line-height:60px;
}

body > #page-wrap > #page-main > header.nav-bar > nav.site-header-crumbs > #sub-nav > nav {
	/*display:inline-block;
	clear:none;*/
	height:60px;
	line-height:60px;

}

body > #page-wrap > #page-main > header.nav-bar > nav.site-header-crumbs > #sub-nav > nav > ol.breadcrumb {
	/*clear:none;*/
	height:60px;
	line-height:60px;
}
/* Page-Footer
-------------------------------------------------- */
footer.page-footer {
    clear:both;

    height: auto;
	margin-bottom:20px;
	padding: 10px 0;

	text-align: center;
	font-size:11px;
	color: #999;
}
footer.page-footer .container p {
	margin-bottom: 0;
}
footer.page-footer .container .footer-links {
	margin: 5px 0;
}
footer.page-footer .container .footer-links li {
	display: inline;
	padding: 0 2px;
}
footer.page-footer .container .footer-links li:first-child {
	padding-left: 0;
}

/* Site-Footer
-------------------------------------------------- */

body > footer.site-footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;	

	
	text-align: center;
	padding: 35px 0;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
body > footer.site-footer .container p {
	margin-bottom: 0;
	color: #777;
}
body > footer.site-footer .container .footer-links {
	margin: 10px 0;
}
body > footer.site-footer .container .footer-links li {
	display: inline;
	padding: 0 2px;
}
body > footer.site-footer .container .footer-links li:first-child {
	padding-left: 0;
}

/* Sidebar
-------------------------------------------------- */
.page-sidebar-left,
.page-sidebar-right {
	margin-top:5px !important;
}

aside > ul.nav > li {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

aside > ul.nav > li > a {
	padding-right:10px;
	/*overflow:hidden;*/
	text-overflow:ellipsis;
}

aside > ul.nav > li.nav-header {
	margin-left:0px;
	padding-left:11px;
}

aside > ul.nav > li > i[class~=icon-] {
	margin-right:5px;
}

aside > ul.nav > li.divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

/* this is for nested sidebar menus */
aside > ul.nav > li > ul.nav {
	margin-left:18px;
	padding-left:11px;
	border-left:1px solid #eee;
}

/* Form Elements
-------------------------------------------------- */
input[type="submit"],
button[type="submit"],
button.btn,
.dropdown,
.btn-group,
.btn {
    margin-right:10px;
}

.btn-group > .btn {
	margin-right:0px;
	margin-left:0px;
}

.form-actions > .btn {
    margin-right:15px;
}

.form-answer > .btn {
    margin-right: 10px;
}

.btn-toolbar .btn-group {
	margin-bottom:0px;
	vertical-align:bottom;
}

.btn-right {
	text-align:right !important;
}

.content-right > input[type="submit"],
.content-right > button[type="submit"],
.content-right > button.btn,
.content-right > .btn,
.content-right > .btn-group,
.content-right > .dropdown,
.btn-right > input[type="submit"],
.btn-right > button[type="submit"],
.btn-right > button.btn,
.btn-right > .btn,
.btn-right > .btn-group,
.btn-right > .dropdown {
	margin:5px 0px 15px 5px !important;
}

a.dropdown-toggle > .caret {
	margin-left:5px;
}

a > i[class^="icon-"],
input[type="submit"] > i[class^="icon-"],
button[type="submit"] > i[class^="icon-"],
button.btn > i[class^="icon-"],
.dropdown-menu > li > a > i[class^="icon-"],
.btn > i[class^="icon-"],
.nav i[class^="icon-"],
.alert i[class^="icon-"],
.badge i[class^="icon-"],
.label i[class^="icon-"] {
    margin-right: 5px;
}

.btn-icon-only > i[class^="icon-"] {
	margin-right:0px;
}

.btn-icon-only > .caret {
	margin-left:0px;
}

section > form.form-horizontal {
	border:1px solid #f3f3f3;
	background-color:#fefefe;
	        border-radius:5px;
	   -moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	padding-bottom:0px;
	
	overflow:hidden;
}

section > form.form-horizontal > fieldset > .form-actions {
	margin-bottom:0px;
	overflow:hidden;
}

.control-group.form-title {
	border-bottom:1px solid #eee;
}
.control-group > label {
	display:inline-block;
	margin:0;
	padding:5px;
	padding-right:10px;
	vertical-align:middle;
	text-align:left;
	font-size:16px;
	color:#666;
}

.control-group > .controls > .label {
	vertical-align:middle;
	padding:5px;
	font-size:16px;
	line-height:20px;
}

/* confirmation pages */
.form-confirmation {
	display:block;
	width:auto;
	padding:5px;
	text-align:center;
	overflow:hidden;
}

.form-confirmation .form-question {
	display:block;
	width:auto;
	padding:30px;
	text-align:center;
	overflow:hidden;
}

.form-confirmation .form-answer {
	display:block;
	width:auto;
	padding:30px;
	border-top:1px solid #ddd;
	background-color:#eee;
	text-align:center;
	overflow:hidden;
}

/* checkbox labels go inside controls after checkbox, not before */
.control-group > .controls > input[type="checkbox"] {
	display:inline-block;
	float:none;
	margin:0;
	padding:5px;
	vertical-align:middle;
}
.control-group > .controls > label {
	display:inline-block;
	float:none;
	margin:0;
	padding:5px;
	padding-left:10px;
	vertical-align:middle;
	text-align:left;
	font-size:14px;
}

.control-group > .controls > div > table td:nth-child(1) input {
	width:100%;
	margin:0px;
	padding:10px;
	text-align:center;
}
.control-group > .controls > div > table td:nth-child(2) label {
	width:100%;
	margin:0px;
	padding:3px;
	text-align:left;
}


/* 
-------------------------------------------------- */
header {
	float:none;
	clear:both;
	vertical-align:middle;
	margin-bottom:10px;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
header > div h1,
header > div h2,
header > div h3,
header > div h4,
header > div h5,
header > div h6 {
	float:none;
	clear:both;
	margin:0px;
	padding:0px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

header > div {
	height:inherit;
}

header .badge,
header .label {
	vertical-align:middle;
}

header .content-right .label,
header.content-right .label
header .content-right .badge,
header.content-right .badge {
	margin-right:0px;
	margin-left:5px;
}

header .content-left .label,
header.content-left .label
header .content-left .badge,
header.content-left .badge {
	margin-right:0px;
	margin-left:5px;
}

.section, section, header {
	border-bottom:1px solid #eee;
}

section {
	margin:2px 0px 5px 0px;
	padding:0px 0px 8px 0px;
}


section > div {
	height:inherit;
}

section .badge {
	margin-right:5px;
}

article > pre,
article pre {
	background-color:#fcfcfc;
	word-wrap:break-word;
	white-space:pre-line;
}

article > pre > p {
	white-space:normal;
	word-wrap:normal;
}

.btn-toolbar {
	height:30px;
	line-height:30px;
	margin:2px 0px 5px 0px;
	padding:0px 0px 8px 0px;
}

.btn-toolbar > nav.paginate div {
	margin:0px;
}

.content-left {
	text-align:left;
}
.content-right {
	text-align:right;
}




.prominent-figure.label,
.prominent-figure.badge,
.prominent-figure {
	font-size:1.1em;
}

.prominent-figure-large.label,
.prominent-figure-large.badge,
.prominent-figure-large {
	font-size:1.25em;
}

.prominent-figure.label,
.prominent-figure.badge,
.prominent-figure-large.badge {
	padding:10px;
	font-weight:normal;
}



span.label a:link, span.label a:visited, span.label a:active, span.label a:hover {
	color: #eee;
}

.light-box {
	border: 1px solid #ddd;
	background-color:#fcfcfc;
}

.light-box > blockquote,
blockquote.slim  {
	margin:5px;
}






/*
.marked_read {
	background-color: #fcfcfc;
}

.marked_unread {
	background-color: #f7f7f7;
}

.mark_checked {
	background-color: #fef9d7;
}
*/

/*tr:hover {
	background-color: #fef9d7 !important;
}*/

table.table-vertical-labels > tbody > tr > td:nth-child(1) {
	width:20%;
}

table.table-vertical-labels > tbody > tr > td:nth-child(2) {
	width:auto;
}

.table-no-vertical-borders > thead > tr > th:not(:first-child),
.table-no-vertical-borders > tbody > tr > td:not(:first-child) {
	border-left:none;
	/*border-left:1px solid #f1f1f1;*/
}


.table-bordered > thead {
    min-height: 40px;
	
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fafafa, #ebebeb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #fafafa, #ebebeb);
    background-image: -o-linear-gradient(top, #fafafa, #ebebeb);
    background-image: linear-gradient(to bottom, #fafafa, #ebebeb);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	
}

.table-bordered > thead > tr > th {
	border-top: 1px solid #fff;
/*	border-bottom: 1px solid #f4f4f4;*/
}

.table tbody tr[class*='mark_checked']:hover td {
	background-color: #fff5b0 !important;
}

table.table-striped > tbody > tr:nth-child(even),
table.table-striped > tr:nth-child(even) {
	background-color:#eee;
}
table.table-striped > tbody > tr:nth-child(even),
table.table-striped > tr:nth-child(even) {
	background-color:#f5f5f5;
}

table tr th {text-transform:capitalize;}

table tr th.left, table tr td.left {text-align:left;}

table tr th.center, table tr td.center {text-align:center;}

table tr th.right, table tr td.right {text-align:right;}

table > tr > td.row-group-heading,
table > tbody > tr > td.row-group-heading {
	line-height:10px;
	height:10px !important;
	max-height:10px !important;
	text-align:center;
	vertical-align:middle;
	padding:0px;
	/*background-color:#0088cc !important;*/
	/*color:#fff;*/
/*	background-color:#fff !important;*/
}

table > tr > td.row-group-heading > span.label,
table > tbody > tr > td.row-group-heading > span.label {
	display:block;
	width:inherit;
	height:100%;
	margin:0px;
	padding:5px;
}

.center {text-align:center;}

/*a[name^='anchor_offset_'] {*/
/*a.anchor {
	display:block;
	width: 90px;
	height: 100px;
	position: relative;
	border:10px solid red;
	top: -90px;
	z-index: 2;
}*/






/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
	
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Unfloat the back to top link in footer */
    body > footer.footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    body > footer.footer p {
      margin-bottom: 9px;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Tighten up footer */
    body > footer.site-footer {
    /*  padding-top: 20px;
      padding-bottom: 20px;*/
    }
}
