html, body {
	height:100%;
	vertical-align:top;
}

#page-wrap {
	min-height: 100%;
}

#page-main {
	padding-top:110px;
	padding-bottom:150px; /* this needs to be bigger than footer height */
	overflow:auto;
}

.page-body-right > div {
	position:relative;
	width:100%;
	padding-left:15px;
	padding-right:-15px;
	left:-15px;
	z-index:99;
/*	border-left:1px solid #eee;*/
}

.page-body-left > div:after {
	left:20%;
/*	border-right:1px solid #eee;*/	
}

/* Header
-------------------------------------------------- */
#page-wrap > #page-main > header > .navbar {
	margin:0px;
}

#page-wrap > #page-main > header.navbar-fixed-top {
	margin-bottom:20px;
}

#page-wrap > #page-main > header.navbar-fixed-top > .navbar {
	margin-bottom:0px;
}

#page-wrap > #page-main > header > .crumb-bar-container {
	height: 55px;
}

#page-wrap > #page-main > header > .crumb-bar-container [class^="span"] > h3 {
	margin:0px;
	padding:0px;
	height:46px;
	line-height:55px;
}

/* Page-Footer
-------------------------------------------------- */
footer.page-footer {
    clear:both;

    height: auto;
	margin-bottom:20px;
	padding: 10px 0;

	text-align: center;
	font-size:11px;
	color: #999;
}
footer.page-footer .container p {
	margin-bottom: 0;
}
footer.page-footer .container .footer-links {
	margin: 5px 0;
}
footer.page-footer .container .footer-links li {
	display: inline;
	padding: 0 2px;
}
footer.page-footer .container .footer-links li:first-child {
	padding-left: 0;
}

/* Site-Footer
-------------------------------------------------- */

body > footer.site-footer {
    position: relative;
    clear:both;
    height: 50px;
    margin-top: -50px; /* negative value of footer height */
	margin-bottom:0px;
    padding-top:20px;	
	padding-bottom:0px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

/* Sidebar
-------------------------------------------------- */
.page-sidebar-left,
.page-sidebar-right {
	margin-top:5px !important;
}

aside > ul.nav > li {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

aside > ul.nav > li > a {
	padding-right:10px;
	text-overflow:ellipsis;
}

aside > ul.nav > li.nav-header {
	margin-left:0px;
	padding-left:11px;
}

aside > ul.nav > li > i[class~=icon-] {
	margin-right:5px;
}

aside > ul.nav > li.divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

/* this is for nested sidebar menus */
aside > ul.nav > li > ul.nav {
	margin-left:18px;
	padding-left:11px;
	border-left:1px solid #eee;
}

/* Form Elements
-------------------------------------------------- */
input[type="submit"],
button[type="submit"],
button.btn,
.dropdown,
.btn-group,
.btn {
    margin-right:10px;
}

.btn-group > .btn {
	margin-right:0px;
	margin-left:0px;
}

.form-actions > .btn {
    margin-right:15px;
}

.form-answer > .btn {
    margin-right: 10px;
}

.btn-toolbar .btn-group {
	margin-bottom:0px;
	vertical-align:bottom;
}

.btn-right {
	text-align:right !important;
}

.content-right > input[type="submit"],
.content-right > button[type="submit"],
.content-right > button.btn,
.content-right > .btn,
.content-right > .btn-group,
.content-right > .dropdown,
.btn-right > input[type="submit"],
.btn-right > button[type="submit"],
.btn-right > button.btn,
.btn-right > .btn,
.btn-right > .btn-group,
.btn-right > .dropdown {
	margin:5px 0px 15px 5px !important;
}

a.dropdown-toggle > .caret {
	margin-left:5px;
}

a > i[class^="icon-"],
input[type="submit"] > i[class^="icon-"],
button[type="submit"] > i[class^="icon-"],
button.btn > i[class^="icon-"],
.dropdown-menu > li > a > i[class^="icon-"],
.btn > i[class^="icon-"],
.nav i[class^="icon-"],
.alert i[class^="icon-"],
.badge i[class^="icon-"],
.label i[class^="icon-"] {
    margin-right: 5px;
}

.btn-icon-only > i[class^="icon-"] {
	margin-right:0px;
}

.btn-icon-only > .caret {
	margin-left:0px;
}


form.form-vertical,
form.form-horizontal {
	background-color:#f1f1f1;
	border:1px solid #e3e3e3;
	border-radius:1px;
	padding:10px;
}

form.form-vertical > fieldset,
form.form-horizontal > fieldset {
	margin:5px;
	padding:0px;
	overflow:hidden;
}

form.form-vertical > fieldset > .control-group > .controls > h4,
form.form-vertical > fieldset h4,
form.form-horizontal > fieldset > .control-group > .controls > h4,
form.form-horizontal > fieldset h4 {
	font-size:17.5px;
	font-weight:200;
}

form.form-vertical > fieldset > .control-group > .controls > h5,
form.form-vertical > fieldset h5,
form.form-horizontal > fieldset > .control-group > .controls > h5,
form.form-horizontal > fieldset h5 {
	font-size:14px;
	font-weight:100;
}

form.form-vertical > fieldset > .form-actions,
form.form-horizontal > fieldset > .form-actions {
	background-color:#f1f1f1;
}

form.form-vertical > fieldset > .control-group > .controls {
	width:inherit;
	padding:0px;
	overflow:hidden;
}

form.form-vertical > fieldset > .control-group > .controls > * {
	display:inline-block;
	width:90%;
	font-size:15px;
}

.control-group > .controls > label,
.control-group > label {
	display:inline-block;
	margin:0;
	padding:5px 5px 5px 0px;
	padding-right:10px;
	vertical-align:middle;
	text-align:left;
	font-size:14px;
	font-weight:600;
	color:#333;
}

.control-group > .controls > label {
	font-size:14px;
	color:#999;
}

.control-group > .controls > label.checkbox,
.control-group > label.checkbox {
	font-size:14px;
	font-weight:200;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	color:#666;
}

/* checkbox labels go inside controls after checkbox, not before */
.control-group > .controls > label > input[type="checkbox"],
.control-group > .controls > input[type="checkbox"],
.control-group > label > input[type="checkbox"],
.control-group > input[type="checkbox"] {
	line-height:20px;
	float:none;
	margin:0;
	margin-left:0px !important;
	margin-right:10px;
	padding:0px;
	vertical-align:middle;
}

.control-group > .controls > div > table td:nth-child(1) input {
	width:100%;
	margin:0px;
	padding:10px;
	text-align:center;
}
.control-group > .controls > div > table td:nth-child(2) label {
	width:100%;
	margin:0px;
	padding:3px;
	text-align:left;
}

/* confirmation pages */
.form-confirmation {
	display:block;
	width:auto;
	padding:5px;
	text-align:center;
	overflow:hidden;
}

.form-confirmation .form-question {
	display:block;
	width:auto;
	padding:30px;
	text-align:center;
	overflow:hidden;
}

.form-confirmation .form-answer {
	display:block;
	width:auto;
	padding:30px;
	border-top:1px solid #ddd;
	background-color:#eee;
	text-align:center;
	overflow:hidden;
}

/* 
-------------------------------------------------- */
header {
	float:none;
	clear:both;
	vertical-align:middle;
	margin-bottom:10px;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
header > div h1,
header > div h2,
header > div h3,
header > div h4,
header > div h5,
header > div h6 {
	float:none;
	clear:both;
	margin:0px;
	padding:0px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

header > div {
	height:inherit;
}

header .badge,
header .label {
	vertical-align:middle;
}

header .content-right .label,
header.content-right .label
header .content-right .badge,
header.content-right .badge {
	margin-right:0px;
	margin-left:5px;
}

header .content-left .label,
header.content-left .label
header .content-left .badge,
header.content-left .badge {
	margin-right:0px;
	margin-left:5px;
}

.section, section, header {
	border-bottom:1px solid #eee;
}

section {
	margin:2px 0px 5px 0px;
	padding:8px 0px 8px 0px;
}


section > div {
	height:inherit;
}

section .badge {
	margin-right:5px;
}

pre {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	word-wrap:break-word;
	white-space:pre-line;
	border:none;
}

article > pre,
article pre {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#fcfcfc;
	word-wrap:break-word;
	white-space:pre-line;
}

article > pre > p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space:normal;
	word-wrap:normal;
}

.btn-toolbar {
	height:30px;
	line-height:30px;
	margin:2px 0px 5px 0px;
	padding:0px 0px 8px 0px;
}

.btn-toolbar > nav.paginate div {
	margin:0px;
}

.prominent-figure.label,
.prominent-figure.badge,
.prominent-figure {
	font-size:1.1em;
}

.prominent-figure-large.label,
.prominent-figure-large.badge,
.prominent-figure-large {
	font-size:1.25em;
}

.prominent-figure.label,
.prominent-figure.badge,
.prominent-figure-large.badge {
	padding:10px;
	font-weight:normal;
}



span.label a:link, span.label a:visited, span.label a:active, span.label a:hover {
	color: #eee;
}

.light-box {
	border: 1px solid #ddd;
	background-color:#fcfcfc;
}

.light-box > blockquote,
blockquote.slim  {
	margin:5px;
}

.alert {
	margin-bottom:10px;
}

.alert-inverse {
	background-color: #333333;
	border-color:#000;
	color: #ffffff;
	text-shadow: 0 -1px 0 #333;
	font-weight: 500;
}

.alert-inverse > a:link, 
.alert-inverse > a:visited, 
.alert-inverse > a:hover {
	color:#f5f5f5;
} 

/* 
-------------------------------------------------- */
table.table-vertical-labels > tbody > tr > td:nth-child(1) {
	width:20%;
}

table.table-vertical-labels > tbody > tr > td:nth-child(2) {
	width:auto;
}

.table-no-vertical-borders > thead > tr > th:not(:first-child),
.table-no-vertical-borders > tbody > tr > td:not(:first-child) {
	border-left:none;
}


.table-bordered > thead {
    min-height: 40px;
	
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fafafa, #ebebeb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #fafafa, #ebebeb);
    background-image: -o-linear-gradient(top, #fafafa, #ebebeb);
    background-image: linear-gradient(to bottom, #fafafa, #ebebeb);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.table-bordered > thead > tr > th {
	border-top: 1px solid #fff;
}

.table tbody tr[class*='mark_checked']:hover td {
	background-color: #fff5b0 !important;
}

table.table-striped > tbody > tr:nth-child(even),
table.table-striped > tr:nth-child(even) {
	background-color:#eee;
}
table.table-striped > tbody > tr:nth-child(even),
table.table-striped > tr:nth-child(even) {
	background-color:#f5f5f5;
}

table tr th {text-transform:capitalize;}

table tr th.left, table tr td.left {text-align:left;}

table tr th.center, table tr td.center {text-align:center;}

table tr th.right, table tr td.right {text-align:right;}

table > tr > td.row-group-heading:hover,
table > tbody > tr > td.row-group-heading:hover {
	background-color:#333 !important;
	color:#f6f6f6;
}

table > tr > td.row-group-heading,
table > tbody > tr > td.row-group-heading {
	line-height:25px;
	height:25px !important;
	max-height:25px !important;
	text-align:center;
	vertical-align:middle;
	padding:0px;
	background-color:#333 !important;
	color:#f6f6f6;
}

table > tr > td.row-group-heading > span.label,
table > tbody > tr > td.row-group-heading > span.label {
	display:block;
	width:inherit;
	height:100%;
	margin:0px;
	padding:5px;
}

/* Misc.
-------------------------------------------------- */
.center {text-align:center;}

.content-left {
	text-align:left;
}
.content-right {
	text-align:right;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
	
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Unfloat the back to top link in footer */
    body > footer.footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    body > footer.footer p {
      margin-bottom: 9px;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Tighten up footer */
    body > footer.site-footer {
    /*  padding-top: 20px;
      padding-bottom: 20px;*/
    }
}
