.marked_read {
	background-color: #fcfcfc;
}

.marked_unread {
	background-color: #f7f7f7;
}

.mark_checked {
	background-color: #fef9d7;
}

/*tr:hover {
	background-color: #fef9d7 !important;
}*/

.table tbody tr[class*='mark_checked']:hover td {
	background-color: #fff5b0 !important;
}

.center {text-align:center;}

table tr th.left {text-transform:capitalize;}
table tr th.left, table tr td.left {text-align:left;}

table tr th.center {text-transform:capitalize;}
table tr th.center, table tr td.center {text-align:center;}

table tr th.right {text-transform:capitalize;}
table tr th.right, table tr td.right {text-align:right;}

div.sidebar .btn {
	display:block;
	margin-bottom:5px;
}