/************************
 * Page Header
 ***********************/
div#header_bar {
	display: block;
	position: fixed;
	width: auto;
	padding: 0px;
	margin: 0px;
	left: -1px;
	right: -1px;
	top: -1px;
	z-index: 20;
	clear: both;
}


/************************
 * Primary Bar
 ***********************/
div#primary_bar {
	display: block;
	width: auto;
	height: 50px;
	margin: 0px;
	padding: 0 0 0 15px;
	top: -1px;
	list-style-position: inside;
	list-style-type: none;
	background-color: #f1f1f1;
	/*background-color: #fff;*/
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 1px 5px #eaeaea;
}


div#primary_left {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	float: left;
	clear: none;
}

div#primary_right {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	float: right;
	clear: none;
}

div#primary_bar div.bar_box {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 0;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding-left: 25px;
	padding-right: 20px;
}

div#primary_bar div#logo {
	display: inline-block;
	height: 50px;
	line-height: 45px;
	left: 0px;
	padding: 0px !important;
	vertical-align: middle;
	border: 0;
}

img.site_logo {
	text-align: left;
	vertical-align: middle;
	margin: 5px 5px 5px 0;
	padding: 0px;
	border: 0;
}

div#primary_bar div#search {
	display: inline-block;
	height: 35px;

	margin-right: 0%;
	margin-left: 0%;

	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-left: 25px;
	padding-right: 20px;
}

a.primary_bar:link, a.primary_bar:visited, a.primary_bar:active, a.primary_bar:hover {
	display: inline;
	color: #555;
	font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	text-shadow: #eee 0px 0px 0px;
}


/************************
 * Secondary Bar
 ***********************/
div#secondary_bar {
	display: block;
	width: auto;
	height: 25px;
	margin: 0px;
	padding: 0 0 0 15px;

	line-height: 24px;
	white-space: nowrap;
	vertical-align: middle;
	text-align: left;
	
	overflow: hidden;
	/*background-image: url(../images/layout/header/lower_bar_bg.png);*/
	background-color:#111;
	border-bottom: 1px solid #ddd;
}

a.nav_link:link, a.nav_link:visited, a.nav_link:active {
	display: inline;
	margin-right: 15px;
	margin-left: 0px;

	/*color: #4183c4;*/
	color:#fff;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	/*text-shadow: 0px -1px 1px #eee;*/
}

a.nav_link:hover {
	text-decoration: underline;
}
