/************************
 * FORM ELEMENTS
 ***********************/
td.form_label {
	width: 20%;
	padding: 10px;
	
	vertical-align: top;
	text-align: right;
	
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

td.form_widget {
	width: 60%;
	padding: 10px;

	vertical-align: top;
	text-align: left;

	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

td.form_tool_strip {
	width: 100%;
	padding: 10px;

	vertical-align: middle;
	text-align: center;
	
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/*input.widget_submit {
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
input.widget_submit:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}

input.widget_submit_prominent {
	margin: 0 8px 0 0px;
	padding: 5px;
	border: 1px solid #9bbbeb;
	border-radius: 5px;
	background-color: #73a4fe;
	
	color: white;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
input.widget_submit_prominent:hover {
	text-decoration: none;
	border: 1px solid #488bfd;
	background-color: #3f6ffe;
}*/

select.widget_select {
	margin: 5px 8px 5px 0px;
	padding: 5px;
	border: 1px solid #a8cafe;
	border-radius: 5px;
	background-color: #a8cafe;
	
	color: #000;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 0px 0px 2px #666;
	white-space: nowrap;
}
select.widget_select:hover {
	text-decoration: none;
	border: 1px solid #9bbbeb;
	background-color: #73a4fe;
}
option.widget_select {
	background-color: #fff;
	color: #000;
	text-shadow: none;
}


label.checkbox_widget_label {
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

label.widget_label {
	overflow: hidden;
	margin: 20px;
	font: bold medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
}

input.widget_text {
	display: block;
	width: 500px;
	overflow: hidden;
	font: large "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

textarea.widget_textarea {
	display: block;
	width: 500px;
	height: 200px;
	overflow: scroll;
}

/* **********************************
 * BUTTONS
 * *********************************/
/*.button img {
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}*/

.button_link_silver, .button_link_silver:link, .button_link_silver:visited, .button_link_silver:active  {
	margin: 5px 5px 5px 0px;
	padding: 9px;
	border-radius: 4px;
	border-bottom: 1px double #ccc;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-left: 1px solid #eee;
	background-color: #eee;
	
	color: #4a89c6;
	font: bold 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 3px #ddd;
	white-space: nowrap;
}
.button_link_silver:hover {
	color: #fff !important;
	text-decoration: none !important;
	border: 1px solid #3f6ffe !important;
	background-color: #488bfd !important;
}

.button_silver, .button_silver:link, .button_silver:visited, .button_silver:active  {
	margin: 5px 5px 5px 0px;
	padding: 9px;
	border-radius: 4px;
	border-bottom: 1px double #ccc;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-left: 1px solid #eee;
	background-color: #eee;
	
	color: #777;
	font: bold 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 3px #ddd;
	white-space: nowrap;
}
.button_silver:hover {
	color: #fff !important;
	text-decoration: none !important;
	border: 1px solid #3f6ffe !important;
	background-color: #488bfd !important;
}


.button_red, .button_red:link, .button_red:visited, .button_red:active {
	margin: 5px 5px 5px 0px;
	padding: 9px;
	border-radius: 4px;
/*	border: 1px solid #ff0000;*/
	border-bottom: 1px double #dd0000;
	border-top: 1px solid #ff0000;
	border-right: 1px solid #dd0000;
	border-left: 1px solid #ff0000;
	
	background-color: #ed6957;

	color: #fff;
	font: bold 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 3px #ddd;
	white-space: nowrap;
}
.button_red:hover {
	color: #fff !important;
	text-decoration: none !important;
	border: 1px solid #3f6ffe !important;
	background-color: #488bfd !important;
}

.button_blue, .button_blue:link, .button_blue:visited, .button_blue:active {
	margin: 5px 5px 5px 0px;
	padding: 9px;
	border-radius: 4px;
/*	border: 1px solid #a5c6fa;*/
	border-bottom: 1px double #98b6e7;/*darker*/
	border-top: 1px solid #a5c6fa; 
	border-right: 1px solid #98b6e7;/*darker*/
	border-left: 1px solid #a5c6fa; 
	
	background-color: #a8cafe;
	
	color: #fff;
	font: bold 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 3px #ddd;
	white-space: nowrap;
}
.button_blue:hover {
	color: #fff !important;
	text-decoration: none !important;
	border: 1px solid #9bbbeb !important;
	background-color: #73a4fe !important;
}
/* **********************************
 * COMMON PAGINATION
 * *********************************/
div.pagerfanta {
	display: block;
	width: auto;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 5px;
	overflow: hidden;
	clear: both;
}
.paginate {margin-left: 10px;}	
.pagerfanta {}
.pagerfanta a, .pagerfanta span {
	margin: 5px 5px 5px 0px;
	padding: 7px;
	border-radius: 4px;
	color: #777;
	font: bold 9pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 3px #ddd;
	white-space: nowrap;
/*	border: 1px solid #ccc;*/
	border-bottom: 1px double #ccc;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-left: 1px solid #eee;
	background-color: #eee;
}
.pagerfanta a:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #3f6ffe;
	background-color: #488bfd;
}
.pagerfanta .dots {border-width: 0;}
.pagerfanta .current {
/*	border: 1px solid #d0d0d0;*/
	border-bottom: 1px solid #eee;
	border-top: 1px double #ccc;
	border-right: 1px solid #eee;
	border-left: 1px solid #ccc;
	background-color: #e0e0e0;
	color: #000;
	font-style: italic;
}
.pagerfanta .disabled {
	text-shadow: none;
	border: 1px solid #eee;
	background-color: #e0e0e0;
	color: #cfcfcf;
}