body { margin: 0px; padding: 0px; background-color: #f1f1f1;}

/************************
 * Page Body
 ***********************/

div#body {
	width: 100%;
	vertical-align: top;
	margin: 80px 0 0px 0px;
	padding: 0px;
	min-height: 800px;
}

div.left_column_container {	
	vertical-align: top;
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	float: left;
	width: 100%;	
}

div.left_column {
	margin: 0px 195px 0px 0px;
	padding: 10px;
	overflow: hidden;
	height:100%;
}

div.right_column_container {
	display: block;
	float: right;
	width: 195px;
	margin: 0px -1px 0px -195px;

	position: fixed;
	right: 0px;
	top: 75px;
	bottom:1px;
	
	overflow: hidden;
	vertical-align: top;
}

div.right_column {
	height:100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
