body { margin: 0px; padding: 0px; background-color: #f1f1f1;}

/************************
 * Page Body
 ***********************/

div#body {
	width: 100%;
	vertical-align: top;
	margin: 90px 0 0px 0px;
	padding: 0px;
	min-height: 800px;
}

div.left_column_container {	
	display: block;
	float: left;
/*	margin: 0px -190px 0px 0px;*/
	width: 185px;
	margin: 0px;
	
	padding: 0px;
	overflow: hidden;
	vertical-align: top;
}

div.left_column {
	width: 175px;
	margin: 0px;
	padding: 5px;
	overflow: hidden;
}

div.right_column_container {
	display: block;
	float: right;
	width: 100%;
/*	margin: 0;*/
	margin: 0 0 0 -195px;
/*	margin: 0px 0px 0px -191px;*/

	padding: 0px;
	overflow: hidden;
	vertical-align: top;
}

div.right_column {
	margin: 0 0 0 190px;
	padding: 8px 5px 5px;
	overflow: hidden;
	width: auto;
}
