body { padding: 0px; }

/************************
 * Page Header
 ***********************/
div#header {
	display: block;
	position: fixed;
	width: auto;
	padding: 0px;
	margin: 0px;
	left: -1px;
	right: -1px;
	top: -1px;
	z-index: 20;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #DDD;
}


/************************
 * Primary Bar
 ***********************/
div#primary_bar {
	display: block;
	width: auto;
	height: 35px;
	margin: 0px;
	top: -1px;
	overflow: hidden;
	list-style-position: inside;
	list-style-type: none;
	background-image: url(../images/layout/header/upper_bar_bg.png);
}

div#primary_bar div.bar_box {
	display: inline-block;
/*	position: absolute;*/
	height: 35px;
	line-height: 35px;
	margin: 0;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #ccc;
	padding-left: 25px;
	padding-right: 20px;
}

div#primary_bar div#logo {
	left: 10px;
/*	top: -15px;*/
	padding: 4px !important;
	position: absolute;
	border: 0;
}

img.site_logo {
	text-align: left;
	margin: 0px;
	padding: 0px;
	border: 0;
}

div#primary_left {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	float: left;
	clear: none;
/*	z-index: 1;*/
	position: static;	
}

div#primary_right {
	display: inline-block;
	height: 35px;
/*	line-height: 35px;*/
	overflow: hidden;
	vertical-align: middle;
	float: right;
	clear: none;
/*	z-index: 2;*/
/*	position: relative;*/
}

/*div#primary_bar div#inbox {
	width: 90px;
	right: 190px;
}*/

/*div#primary_bar div#login {
	width: 90px;
	right: 10px;
}*/

/*div#primary_bar div#register {
	width: 90px;
	right: 101px;
}*/

a.primary_bar:link, a.primary_bar:visited, a.primary_bar:active, a.primary_bar:hover {
	display: inline;
	color: #eee;
	font: bold medium "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	text-shadow: #111 0px -1px 1px;
}


/************************
 * Secondary Bar
 ***********************/
div#secondary_bar {
	display: block;
	width: auto;
	height: 24px;
	margin: 0px;
	
	line-height: 24px;
	white-space: nowrap;
	vertical-align: middle;
	text-align: left;
	
	overflow: hidden;
	background-image: url(../images/layout/header/lower_bar_bg.png);

	border-bottom: 1px solid #ddd;
}

a.nav_link:link, a.nav_link:visited, a.nav_link:active {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;

	color: #4183c4;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	text-shadow: 0px -1px 1px #eee;
}

a.nav_link:hover {
	text-decoration: underline;
}

/************************
 * Page Body
 ***********************/

div#body {
	width: 100%;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	margin-top: 90px;
}

div.left_column_container {
	vertical-align: top;
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	float: left;
	width: 100%;
}

div.left_column {
	margin: 8px 205px 5px 5px;
	padding: 1px;
	overflow: hidden;
}

div.right_column_container {
	vertical-align: top;
	display: block;
	margin: 0px 0px 0px -205px;
	padding: 0px;
	overflow: hidden;
	float: right;
	width: 200px;
}

div.right_column {
	margin: 8px 5px 5px;
	padding: 1px;
	overflow: hidden;
}

/************************
 * Page Footer
 ***********************/

div#footer {
	width: 100%;
	height: 100px;
	clear: both;
}